<div class="footer-container">
    <footer>

        <div>
            <div class="footer-logo-cont">
                <div class="footer-logo">
                    <a href="#navbar">
                        <img src="/images/frontend_assets/logo.png" alt="logo">
                    </a>
                </div>
            </div>
            
            <div id="footer-1-text">© 2025 Tomato. Fresh meals delivered fast. Quality ingredients,<br>
                flavorful dishes, and exceptional service you can trust. Follow us<br>
                for updates, deals, and tasty surprises every single day!</div>
            <div class="social-icons">
                 <img src="/images/frontend_assets/facebook_icon.png" alt="facebook_icon">
                 <img src="/images/frontend_assets/twitter_icon.png" alt="twitter_icon">
                 <img src="/images/frontend_assets/linkedin_icon.png" alt="linkedin_icon">
            </div>
        </div>

        <div class="footer-2">
            <div>COMPANY</div>
            <div>Home</div>
            <div>About us</div>
            <div>Delivery</div>
            <div>Privacy Policy</div>
        </div>

        <div class="footer-3">
            <div>GET IN TOUCH</div>
            <div>+1-212-4550-7890</div>
            <div>contact.abdulwasa.dev</div>
        </div>

    </footer>

    <hr id="footer-line">
    <div id="copyright-text">Copyright 2025 ©️ Tomato.com - All Right Reserved.</div>
    <div class="invincible-line"></div>
</div>

<script src="/javascripts/changeNumberFonts.js"></script>