<div class="footer-container">
    <footer>

        <div>
            <div class="footer-logo-cont">
                <div class="footer-logo">
                    <a href="#navbar">
                        <img src="/images/frontend_assets/logo.png" alt="logo">
                    </a>
                </div>
            </div>
            
            <div id="footer-1-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis fugiat molestiae impedit<br>
                velit magnam voluptatem, beatae, delectus amet, vel aperiam ratione dolore! Corrupti<br>
                 doloribus similique, at saepe laboriosam magni!</div>
            <div class="social-icons">
                 <img src="/images/frontend_assets/facebook_icon.png" alt="facebook_icon">
                 <img src="/images/frontend_assets/twitter_icon.png" alt="twitter_icon">
                 <img src="/images/frontend_assets/linkedin_icon.png" alt="linkedin_icon">
            </div>
        </div>

        <div class="footer-2">
            <div>COMPANY</div>
            <div>Home</div>
            <div>About us</div>
            <div>Delivery</div>
            <div>Privacy Policy</div>
        </div>

        <div class="footer-3">
            <div>GET IN TOUCH</div>
            <div>+1-212-4550-7890</div>
            <div>contact.niggerstack.dev</div>
        </div>

    </footer>

    <hr id="footer-line">
    <div id="copyright-text">Copyright 2025 ©️ Tomato.com - All Right Reserved.</div>
    <div class="invincible-line"></div>
</div>