<%- include("partials/header.ejs") %>

<div class="position-ordered-prod-conatiner">
    <div id="myOrdersText">My Orders</div>
    <div class="ordered-prod-conatiner">
        <img src="/images/frontend_assets/parcel_icon.png" alt="parcel_icon" id="parcel-icon">
        <div>Greek Salad x 2, Peri Peri Rolls x 3</div>
        <div>$65.00</div>
        <div>items: 2</div>
        <div><img src="/images/frontend_assets/dot.png" alt="dot">Food Processing</div>
        <input type="button" value="Track Order">
    </div>
</div>

<div class="position-ordered-prod-conatiner">
    <div class="ordered-prod-conatiner">
        <img src="/images/frontend_assets/parcel_icon.png" alt="parcel_icon" id="parcel-icon">
        <div>Greek Salad x 2, Peri Peri Rolls x 3</div>
        <div>$65.00</div>
        <div>items: 2</div>
        <div><img src="/images/frontend_assets/dot.png" alt="dot">Food Processing</div>
        <input type="button" value="Track Order">
    </div>
</div>

<%- include("partials/footer.ejs") %>

<script src="/javascripts/drop_down_menu.js"></script>

</body>

</html>