<%- include("partials/header.ejs") %>

<div class="position-order-contents">
    
    <div class="delivery-information">

        <form action="/" method="post">
    
            <div id="delivery-info-header">Delivery Information</div>
    
            <div class="name">
                <input type="text" placeholder="First name" id="firstName" name="firstName" required>
                <input type="text" placeholder="Last name" id="lastName" name="lastName" required>
            </div>
            
                <input type="email" placeholder="Email address" id="email" name="email" required>
                <input type="text" placeholder="Street" id="street" name="street" required>
            
            <div class="cityAndState">
                <input type="text" placeholder="City" id="city" name="city" required>
                <input type="text" placeholder="State" id="state" name="state" required>
            </div>
        
            <div class="zipCodeAndCountry">
                <input type="number" name="zipcode" id="zipcode" placeholder="Zip code" required>
                <input type="text" placeholder="Country" id="country" name="country" required>
            </div>
        
            <input type="number" name="phone" id="phone" placeholder="Phone" required>
    
        </form>
        
    </div>
    
    <div class="cart-totals">
    
        <div>Cart Totals</div>
    
            <div class="prod-subtotal">
                <div>Subtotal</div>
                <div>$20</div>
            </div>
        <hr>
            <div class="prod-delivery-fee">
                <div>Delivery Fee</div>
                <div>$3</div>
            </div>
        <hr>
            <div class="cart-total">
                <div>Total</div>
                <div>$23</div>
            </div>
    
            <a href="/order">
                <button type="submit" value="Submit">Proceed To Payment</button>
            </a>
            
    </div>

</div>

<%- include("partials/footer.ejs") %>

<script src="/javascripts/drop_down_menu.js"></script>

</body>

</html>
