<%- include("partials/header.ejs") %>

<link rel="stylesheet" href="/styles/success.css">

<div class="cont">

    <div class="success-container">
        <div class="success-icon">✅</div>
        <h1>Payment Successful!</h1>
        <p>Your order has been placed successfully.</p>
        <a href="/myOrders" class="btn-home">View Order History</a>
    </div>
    
</div>

<%- include("partials/footer.ejs") %>

<script src="/javascripts/drop_down_menu.js"></script>

</body>

</html>